h2.title {
  color: white;
  background-color: #376d4f;
  padding: .5em; }

p[class*='title'] {
  font-family: "adelle", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 600; }
  p[class*='title'][class*='bold'] {
    font-weight: 800; }
  p[class*='title'][class*='italic'] {
    font-style: italic; }
p[class*='body'] {
  font-family: "ff-dagny-web-pro", Arial, "Helvetica Neue", Helvetica, sans-serif; }
  p[class*='body'][class*='bold'] {
    font-weight: 800; }
  p[class*='body'][class*='italic'] {
    font-style: italic; }

.icontext {
  display: block;
  text-align: center; }

[data-icon]:before {
  margin-right: .2em; }

a.responsive {
  padding-left: 3em;
  color: #60c390; }

a.responsive:before {
  display: none; }

[role="banner"] {
  margin: 1em -1em; }

@media (min-width: 37.5em) {
  .caption {
    max-width: 314px; } }
