nav[role="navigation"]{
    text-align: center;
    margin-top: 1em;
    @include bp(venus) {
        text-align: right;
    }
    @include bp(earth) {
        @include inline-block;
        vertical-align: middle;
        width: 55%;
    }
    @include bp(mars) {
        margin-top: 2em;
        padding-right: 1em;
    }
    ul {
        padding: 0;
        margin: 0;
        & :first-child {
            border-left: 0px;
        }
    }
    li {
        @include inline-block;
        vertical-align: middle;
        border-left: 1px solid $secondary;
    }
    a {
        display: block;
        padding: .5em 1em;
        font-size: 1em * nth($font-size, 6);
        @include bp(venus) {
            font-size: 1em * nth($font-size, 4);
        }
        color: $primary;
        text-decoration: none;
        &:hover {
            color: white;
        }
        &:before {
            width: 100%;
            left: 0;
        }
    }
}
[role="banner"] {
    margin: 1em;
    max-width: 88.88888888888889em;
    @include bp(mars) {
        margin: 1em auto;
    }
    &:after {
        display: table;
        clear: both;
        content: "";
    }
    [itemprop="url"] {
        display: block;
        &:before {
            display: none;
        }
        @include bp(venus) {
            float: left;
            width: 37%;
        }
        @include bp(earth) {
            width: 45%;
            @include inline-block;
            vertical-align: middle;
        }
        @include bp(mars) {
            padding-left: 1em;
        }
    }
}
