$base-font-family: "ff-dagny-web-pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
$title-font-family: "adelle", Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;


//Colors
$primary: #376D4F;
$secondary: #60C390;
$tertiary: #9829E3;

$grey-text: #333;
$light-grey-text: #999;


//type scale
$base-font-size: 18px;
$base-line-height: 18px * 1.5;
$font-size: 4 2.6666666 2 1.33333 1.166666 1 .888888 .77777;
